.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.postList {
  flex-grow: 1;
  display: grid;
  row-gap: var(--space-7);
  padding-top: var(--space-7);
  padding-bottom: var(--space-7);
  @container (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 56px;
  }
}
