@use 'src/styles/variables.scss' as *;

html {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-size: var(--text-md);
  min-height: 100vh;
  width: 100%;
  min-width: 250px;
  max-width: 100vw;
  overflow-x: auto;
  :where(body) {
    font-family: var(--font-familiy-zen-kaku-gothic-new);
  }
}

a {
  color: var(--text-color);
}
