:root {
  --gray-50: #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e1;
  --gray-400: #94a3b8;
  --gray-500: #64748b;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1e293b;
  --gray-900: #0f172a;
  --primary-text-color: var(--gray-900);
  --link-text-color: #2563eb;
  --primary-bg-color: var(--gray-50);
  --secondary-bg-color: var(--gray-100);
  --primary-color: rgba(30, 64, 175, 1);
  --text-xl: 20px;
  --text-lg: 18px;
  --text-md: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-7: 56px;
  --space-8: 64px;
  --space-9: 72px;
  --space-10: 80px;
  --color-white: #ffffff;
  --color-gray: #d2d2d2;
  --font-familiy-zen-kaku-gothic-new: 'Zen Kaku Gothic New', sans-serif;
}

.darkMode {
  --primary-text-color: #e9e9e9;
  --gray-100: #434343;
  --primary-bg-color: #434343;
  --action-bg-color: #363636;
  --primary-color: rgba(30, 64, 175, 0.5);
}
