.header {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: var(--primary-color);
  padding-left: 24px;
  padding-right: 24px;
  &__title {
    font-size: var(--text-md);
    a {
      color: var(--color-white);
    }
  }
}

.footer {
  text-align: center;
  font-size: var(--text-xs);
}
