.article {
  display: block;
  padding-left: var(--space-3);
  padding-right: var(--space-3);
  padding-bottom: var(--space-3);
  font-family: var(--font-familiy-zen-kaku-gothic-new);
  &__imageWrapper {
    display: grid;
    place-items: center;
    margin-left: -24px;
    margin-right: -24px;
    height: 56.25vw;
    overflow: hidden;
  }
  &__image {
    height: 100%;
  }
  &__body {
    display: flex;
    flex-direction: column;
    padding-top: var(--space-1);
    row-gap: var(--space-1);
  }
  &__time {
    line-height: 1;
    font-size: var(--text-sm);
  }
  &__title {
    font-size: var(--text-xl);
  }
}
