.notice {
  display: flex;
  align-items: center;
  column-gap: var(--space-2);
  padding: var(--space-2);
  font-weight: 700;
  border-radius: 3px;
  &__alert {
    color: #ef4444;
    background-color: #fecaca;
  }
  &__info {
    background-color: #fef08a;
    color: #f59e0b;
  }
  &__check {
    background-color: #d9f99d;
    color: #65a30d;
  }
}
